.info {
  padding-top: 60px;
  padding-bottom: 70px;
  background-color: #ECF0F2;
  background-image: url(../img/images/logo-bg.svg);
  background-repeat: no-repeat;
  background-size: 755px 415px;
  background-position: top 60px right;
  
  .wrapper {
    padding-left: 90px;
    padding-right: 90px;
  }
}

.info__wrap {
  display: flex;
  justify-content: space-between;
}

.info__img {
  width: 50%;
  border-radius: 8px;
  overflow: hidden;
}

.info__text {
  width: 45%;
  padding-top: 20px;
}

.info__title {
  max-width: 90%;
  font-size: 20px;
  line-height: 24px;
  font-weight: 700;
}

.info__btn {
  margin-top: 50px;
}
