.promo {
  min-height: 650px;
  margin-top: -50px;
  padding-top: 100px;
  background-image: url(../../img/images/bg-main.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
